.App {
  text-align: center;
  background-image: url('./components/Images/bakery-cookies-store-many-uses-48411507.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(90%);
  color:lightcoral;
  height: 100%;
  width: 100%;
  display:block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: rgba(40, 44, 52, 0.8);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.product-item {
  flex: 0 1 calc(33.333% - 20px);
  box-sizing: border-box;
  margin-bottom: 20px;
  text-align: center;
  font-size:larger;
  font-style: oblique;
  font-weight: bolder;
  color: azure;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-item img {
  max-width: 100%;
  height: auto;
}

.product-item button {
  margin-top: 10px;
}

.box {
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  transition: transform ease .5s, box-shadow ease .5s;
}
.box:hover {
  transform: translateY(-5px);
  box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
}
